//
//  Secrets.xcconfig
//  CustomMoment
//
//  Created by Hoon on 2023/04/07.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


OPENAI_API_KEY = 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
PAPAGO_API_ID = usOTVLF7ZLwHAGkX5qXV
PAPAGO_API_PW = ECmb6wKzg9
